.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #9D3FF7;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #9D3FF7 !important;
}

.form-control:focus {
    border-color: #9D3FF7 !important;
}

#result-search {
    border-color: #9D3FF7;
}

#profit {
    background: #9D3FF7;
}

.info-box .progress .progress-bar.progress-bar-green, .progress-bar-success {
    background-color: #9D3FF7;
}

/* Bootstrap */
.btn-success {
    background-color: #9D3FF7;
    border-color: #9D3FF7;
}

.btn-success.hover, .btn-success:hover {
    background-color: #9D3FF7;
}

.btn-success.focus, .btn-success:focus {
    background-color: #9D3FF7;
    border-color: #9D3FF7;
}

.btn-success.active, .btn-success:active {
    background-color: #9D3FF7;
    border-color: #9D3FF7;
}

.btn-success.active.focus, .btn-success.active:focus {
    background-color: #9D3FF7;
    border-color: #9D3FF7;
}

.bg-green {
    background-color: #9D3FF7 !important;
}

.alert-success {
    background-color: #9D3FF7 !important;
    border-color: #9D3FF7;
}

.label-success {
    background-color: #9D3FF7 !important;
}

.box.box-success {
    border-top-color: #9D3FF7;
}

.box.box-solid.box-success>.box-header {
    background-color: #9D3FF7;
}

.box.box-solid.box-success {
    border-color: #9D3FF7;
}

.text-green {
    color: #9D3FF7;
}

/* AdminLTE green skin */
.skin-green-light .main-header .navbar {
    background-color: #9D3FF7;
}

.skin-green-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #9D3FF7;
}

.skin-green-light .main-header .logo {
    background-color: #8D39DE;
}

.skin-green-light .main-header li.user-header {
    background-color: #9D3FF7;
}

.skin-green-light .main-header .logo:hover {
    background-color: #8D39DE;
}